spring:
  application:
    name: ntt-backend
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
  main:
    allow-circular-references: true

  security:
    jwt:
      secret: ThisIsAReallyLongAndSecureSecretKeyForJWTSigningNTT
      expiration: 600000 # 10 minutes in milliseconds
      refresh-expiration: 604800000 # 7 days in milliseconds

app:
  storage:
    local:
      location: uploads/
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus,logfile
  endpoint:
    health:
      show-details: when-authorized

logging:
  file:
    name: logs/backend.log
  pattern:
    console: "%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"

server:
  port: 8080
  servlet:
    context-path: /api/v1
  error:
    include-message: always
    include-binding-errors: always
validation:
  password:
    pattern: "^.{4,}$"  # Más permisivo en desarrollo
    message: "Mínimo 4 caracteres"